.custom-navbar {
    background-color: #ffffff !important;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
    padding: 12px 0;
}


.navbar-brand-text {
    color: #2D5A27 !important;
    font-weight: 700;
    font-size: 1.2rem;
    text-decoration: none;
}

.logo-circle {
    width: 35px;
    height: 35px;
    background-color: #2D5A27;
    color: white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    font-weight: bold;
    margin-right: 10px;
}


.nav-link {
    color: #555 !important;
    font-weight: 500;
    font-size: 15px;
    transition: 0.3s;
    border-bottom: 2px solid transparent;
}

.nav-link:hover {
    color: #2D5A27 !important;
}


.active-link {
    color: #2D5A27 !important;
    border-bottom: 2px solid #2D5A27 !important;
}


.btn-login {
    border: 1.5px solid #2D5A27 !important; 
    color: #2D5A27 !important;
    border-radius: 50px !important;
    padding: 6px 25px !important;
    font-weight: 500;
    background-color: transparent; 
    transition: all 0.3s ease; 
}


.btn-login:hover {
    background-color: #2D5A27 !important;
    color: white !important;
}


.btn-register {
    background-color: #2D5A27 !important;
    color: white !important;
    border-radius: 50px !important;
    padding: 6px 25px !important;
    font-weight: 500;
    border: 1.5px solid #2D5A27 !important; 
    transition: all 0.3s ease;
}


.btn-register:hover {
    background-color: white !important;
    color: black !important;
    border-color: #cccccc !important; 
}